<%- include('../template/head', {title: title}) %>
<body>
<div class="cover-container">
    <div>
        <main class="inner cover">
            <div class="logo">
                <img src="/assets/logo.png"/>
            </div>

            <div class="heading">
                <h1 style="margin-bottom: 0px"><%= __('brand') %></h1>
                <div style="color:#666666; font-size: .9rem"><%= __('login_page.title') %></div>
            </div>

            <% if(locals.error){ %>
                <div class="submit-error">
                    <%= __('error.' + error) %>
                </div>
            <% } %>

            <form id="form" class="signin-form" method="post">
                <% userFields.forEach(function(field){ %>
                    <div class="form-field-container labeled">
                        <label class="textfield-outlined small-field w-100">

                            <input id="<%= field.key %>"
                            <% if(field.key === "password"){ %>
                                   name="password"
                            <% } else{ %>
                                   name="username"
                                    <% } %>
                                   type="<%= field.type %>"
                                   placeholder=" "
                                   minlength="<%= field.minLength %>"
                                   maxlength="<%= field.maxLength %>"
                                   data-rule-<%= field.type %>="true"
                                   data-msg-email="<%= __('field_constraint.email') %>"
                                   data-rule-minlength="<%= field.minLength %>"
                                   data-rule-maxlength="<%= field.maxLength %>"
                                   data-msg-minlength="<%= __('field_constraint.minlength', {
                                       field: __('field.' + field.key),
                                       value: field.minLength
                                   }) %>"
                                   data-msg-maxlength="<%= __('field_constraint.maxlength', {
                                       field: __('field.' + field.key),
                                       value: field.maxLength
                                   }) %>"
                                   required
                                   data-rule-required="true"
                                   data-msg-required="<%= __('field_constraint.required', {field: __('field.' + field.key)}) %>"
                                   value=""
                            <% if(field.pattern){ %>
                                   data-rule-<%= field.key %>-pattern="true"
                                   data-msg-<%= field.key %>-pattern="<%= __('error_pattern.' + field.key) %>"
                                    <% } %>
                            >

                            <span><%= __('field.' + field.key) %></span>

                        </label>
                    </div>

                <% }); %>
                <input type="text" hidden name="client_id" value="<%= clientId %>">
                <input type="text" hidden name="type" value="jwt">
                <div class="form-actions">
                    <div class="submit-row">
                        <button type="submit"
                                class="btn"
                                id="submit-id-submit"
                                data-purpose="do-login">
                            <%= __('login_page.submitBtn') %>
                        </button>
                    </div>
                </div>

                <div class="login-box_footer">
                    <%= __('login_page.signup_guide') %>
                    <a class="sign-link" href="<%= signupPath %>" data-purpose="signup">
                        <%= __('login_page.signup_link_text') %>
                    </a>
                </div>
            </form>

        </main>
    </div>
</div>

</body>
<script>
    if (window.opener) {
        window.opener.postMessage("griffin.sso.unauthenticated", "<%= clientAppUrl %>");
    } else if (window.parent) {
        window.parent.postMessage("griffin.sso.unauthenticated", "<%= clientAppUrl %>");
    }

    const userFields = <%- JSON.stringify(userFields) %>;

    for (let field of userFields) {
        if (field.hasOwnProperty('pattern')) {
            $.validator.addMethod(field.key + '-pattern', function (value, element) {
                return new RegExp(field.pattern, 'gi').test(value)
            });
        }
    }

    $('#form').validate({
        focusCleanup: true,
        errorPlacement: function (err, element) {
            element.parent().append(err);
        }
    });

</script>
</html>
